@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  box-sizing: border-box;
}


/* Contact */
.container{
  max-width:s;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
  color:#333;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
  height: 100vh;
  overflow: hidden;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#bf8d3c;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#bf8d3c;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

/* order Details */
.orderDetails {
  background-color: #bf8d3c;
  width: 100%;
}

.orderDetails > main {
  background-color: white;
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
  overflow-x: auto;
}
.orderDetails > main > div >div > div{
box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.orderDetails > main > h1 {
  text-transform: uppercase;
  text-align: center;
  font: 100 3rem "Roboto";
  margin: 3rem;
}

.orderDetails > main > article > h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 2rem 0;
}

.orderDetails > main > article > div > div {
  background-color: rgb(246, 246, 246);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
}

.orderDetails > main > article > div > div > h4  {
  font-weight: 200;
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  .orderDetails > main > div > h1 {
    font-size: 1.4rem;
  }
  
  .orderDetails > main > div > p {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 2rem 0;
  }
}

/* login */

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}


/* spinner */
.loader-container{
  position: fixed;
  top:0; left: 0;
  height:100%;
  width: 100%;
  z-index: 10000;
  background:#f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container img{
  height:10rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  border: none;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pagination button.active {
  background-color: #bf8d3c;
  color: white;
}

.two-line-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-pizza-button {
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: "10%";
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.custom-pizza-button:hover {
  background-color: #fff;
  color: #bf8d3c;
}

.pizza-options {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.option-group {
  margin-bottom: 20px;
}

.option-group h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

ul li input[type="radio"],
ul li input[type="checkbox"] {
  margin-right: 8px;
}

.add-to-cart-button {
  background-color: #bf8d3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: #a07230;
}

/* AddIngredientForm.css */

.add-ingredient-form {
  background-color: #bf8d3c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-ingredient-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.add-ingredient-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-ingredient-form input[type="text"],
.add-ingredient-form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
}

.add-ingredient-form button[type="submit"] {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.add-ingredient-form button[type="submit"]:hover {
  background-color: #a07230;
}

.no-orders-message {
  text-align: center;
  font-size: 18px;
  color: #777; /* Choose a color of your preference */
  margin: 20px;
}
